{
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "jest",
    "filenames"
  ],
  "root": true,
  "rules": {
    "strict": "error",
    "jest/no-focused-tests": "error",
    "camelcase": "error",
    "no-shadow": "off",
    "prettier/prettier": [
      "error",
      {
        "semi": true,
        "trailingComma": "all",
        "singleQuote": true,
        "printWidth": 160,
        "tabWidth": 2,
        "endOfLine": "auto"
      }
    ]
  },
  "env": {
    "node": true,
    "jest": true,
    "es2021": true
  }
}
